Source: bluecove
Section: java
Priority: extra
Maintainer: Karol Auguštin <karol@augustin.pl>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://bluecove.org/
Vcs-Git: git://git.braintech.pl/bluecove.git
Vcs-Browser: http://git.braintech.pl/bluecove.git

Package: libbluecove-java
Architecture: all
Depends: ${misc:Depends}
Description: Java library for Bluetooth (JSR-82 implementation).
